/**
 * React Time Slider: src/index.less
 *
 * _A note on class names:_ The lower-case classes prefixed with "ui-" come from
 * jQuery-UI out of the box. When the slider() method is called, these classes
 * are created automatically. In contract, the upper-case classes in the style
 * of SUIT-CSS are defined by this component specifically.
 *
 *
 * **To use with Bootstrap:** This source file uses variable names from the
 * Bootstrap framework. If you are using Bootstrap or a Bootstrap compatible set
 * of LESS variables, simply include this file, and you're done.
 *
 * **To customize using these variables:** If you are not using Bootstrap but
 * want to take advantage of the available variables, simply define values for
 * the variables used below, and compile.
 *
 * **To use compiled css:** If you prefer, you can start with the compiled
 * version of this file: dist/react-time-slider.css and then override as desired.
 *
 */

@import "../node_modules/adamrneary-base-css/css/adamrneary-base";

.TimeSlider {

  margin: 8px;

  .TimeSlider-label {
    font-size: @font-size-small;
    font-family: @font-family-serif;
    text-align: center;
    margin-bottom: 8px;

    .TimeSlider-from,
    .TimeSlider-to {
      font-family: @font-family-sans-serif;
      font-weight: 700;
      display: inline;
    }
  }

  .Slider {

    border: none;
    border-radius: 1em;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.22), 1px 1px 0 rgba(255, 255, 255, 0.7);
    background: rgba(0, 0, 0, 0.1);
    height: 10px;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    .ui-slider-handle {
      background-color: white;
      border-color: @brand-primary;
      border-style: solid;
      border-width: 3px;
      border-radius: 50%;
      cursor: pointer;
      height: 16px;
      position: absolute;
      width: 16px;
      z-index: 2;
      transition: border-color 0.25s;
      margin-left: -9px;
      top: -3px;
    }
    .ui-slider-handle:hover,
    .ui-slider-handle:focus {
      border-color: darken(@brand-primary, 20%);
    }
    .ui-slider-handle:active {
      border-color: @brand-primary;
    }
    .ui-slider-handle[style*="100"] {
      margin-left: -15px;
    }
    .ui-slider-range {
      background-color: lighten(@brand-primary, 20%);
      display: block;
      height: 100%;
      position: absolute;
      z-index: 1;
      border-radius: 30px 0 0 30px;
    }
  }
}
